<section class="slice slice-lg pb-lg-0 bg-gradient-primary" data-separator="rounded-left" data-separator-orientation="bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="mb--100 position-relative" style="z-index: 1;">
                    <div class="pt-lg text-center">
                        <h6 class="text-white text-uppercase ls-2 mb-4 text-white font-weight-700">Mulailah dengan
                            webhost.co.id</h6>
                        <h2 class="h3 text-white lh-160 font-weight-300">Tidak masalah, pembuatan Website untuk Bisnis kecil atau
                            Kompleks, Web Host Indonesia menawarkan sebuah situs yang lebih <b>Aman dan Cepat
                            </b>.
                        </h2>
                    </div>

                    <div class="list-group list-group-space mt-5">
                        <a href="/company-profile" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2"
                            data-toggle="tooltip" data-original-title="Company Profile">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img alt="Jasa Pembuatan Website Bisnis" src="/img/small-business.png" class="img-fluid">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">Saya ingin membuat situs <b>Company Profile</b></div>
                                <p>Kami siap membangun investasi Anda untuk pembuatan situs Bisnis yang lebih modern
                                    dengan keamanan yang lebih baik.
                                </p>
                            </div>
                        </a>
                        <a href="/situs-blog" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2"
                            data-toggle="tooltip" data-original-title="Situs Blog">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img alt="Image placeholder" src="/img/template.png" class="img-fluid">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">Saya ingin membuat <b>Blog</b></div>
                                <p>Terbitkan kreasi Anda tanpa batas ke seluruh penjuru Dunia. Sisanya, serahkan pada
                                    kami.
                                </p>
                            </div>
                        </a>
                        <a href="/toko-online" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2"
                            data-toggle="tooltip" data-original-title="Toko Online">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img alt="Image placeholder" src="/img/card-payment.png" class="img-fluid">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">Saya ingin membuat <b>Toko Online</b></div>
                                <p>Siap untuk pensiun dini? Bisnis Online Anda akan semakin lebih dikenal dengan Adanya
                                    Web milik perusahaan.
                                </p>
                            </div>
                        </a>
                        <a href="/optimasi-kecepatan-website" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2"
                            data-toggle="tooltip" data-original-title="Mulai dengan ini">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img alt="Image placeholder" src="/img/administrative-tools.png" class="img-fluid">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">Saya ingin <b>Optimasi Kecepatan Website</b></div>
                                <p>Apakah Anda suka menunggu? Jika tidak, begitu juga dengan pengunjung situs Anda.
                                    Percepat situs Anda sekarang juga.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>