<section class="slice slice-lg pb-lg-0 bg-gradient-primary" data-separator="rounded-left" data-separator-orientation="bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="mb--100 position-relative" style="z-index: 1;">
                    <div class="pt-lg text-center">
                        <h1 class="text-white text-uppercase ls-2 mb-4 text-white font-weight-700">{{.Title}}</h1>
                        <h2 class="h3 text-white lh-160 font-weight-300">
                            {{.Description}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>