{{define "main"}}
<section class="slice slice-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1 class="lh-150 mb-2">{{.Title}}</h1>
                <p class="lead text-muted mb-0">
                    {{.Description}}
                </p>
                <div class="media align-items-center mt-3">
                    <img alt="Web Host Indonesia" src="/img/webhost-favicon2.png" class="avatar avatar-sm mr-3">
                    <div class="media-body">
                        <span class="h6 mb-0">Tim Web Host Indonesia</span>
                        <p>{{ .Date.Format "Mon, 2 Jan, 2006" }} Read in {{ .ReadingTime }} minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{if .Params.image}}<section class="container">
    <img class="img-fluid" src="{{.Params.image}}" alt="{{.Title}}">
</section>{{end}}

<section class="slice">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Article body -->
                <article>
                    {{.Content}}
                </article>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg bg-secondary" data-delimiter-before="1" data-delimiter-after="1">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">
                Terbaru dari blog
            </h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">Mulai membangun situs web yang cepat, indah, dan tampak modern dalam waktu singkat menggunakan layanan kami.</p>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg-4">
                <div class="card shadow-sm shadow--hover">
                    <img alt="Image placeholder" src="/img/img-1-800x600.jpg" class="card-img-top">
                    <div class="card-body py-5 text-center">
                        <a href="#" class="h5 lh-150">Choose the best solution for your business</a>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-share mr-1 text-muted"></i> 131</a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-eye mr-1 text-muted"></i> 255</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted"><i class="far fa-comments mr-1 text-muted"></i>
                                            14</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow-sm shadow--hover">
                    <img alt="Image placeholder" src="/img/img-2-800x600.jpg" class="card-img-top">
                    <div class="card-body py-5 text-center">
                        <a href="#" class="h5 lh-150">How to find the right design for your specific product</a>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-share mr-1 text-muted"></i> 131</a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-eye mr-1 text-muted"></i> 255</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted"><i class="far fa-comments mr-1 text-muted"></i>
                                            14</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow-sm shadow--hover">
                    <img alt="Image placeholder" src="/img/img-3-800x600.jpg" class="card-img-top">
                    <div class="card-body py-5 text-center">
                        <a href="#" class="h5 lh-150">How to win buyers and influence sales with marketing</a>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-share mr-1 text-muted"></i> 131</a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a href="#" class="text-muted"><i class="far fa-eye mr-1 text-muted"></i> 255</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted"><i class="far fa-comments mr-1 text-muted"></i>
                                            14</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice py-5 bg-secondary delimiter-top">
    <div class="container">
        <div class="row row-grid align-items-center justify-content-center">
            <div class="col-lg-4">
                <div class="pr-lg-5 text-center text-lg-right">
                    <h5 class="mb-0">Sign up for the daily newsletter:</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group shadow mb-0">
                        <div class="input-group input-group-transparent input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white border-right-0"><i class="far fa-envelope-open"></i></span>
                            </div>
                            <input type="text" class="form-control border-left-0" placeholder="Enter your email ...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-dark">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{end}}