{{define "main"}}
<main>
    <section class="slice slice-xl bg-primary bg-cover bg-size--contain" style="padding-bottom: 100px; background-image: url('../assets/img/backgrounds/clouds-bottom.png'); background-position: center bottom;">
        <div class="container pt-md mb--150 position-relative" style="z-index: 10;">
            <div class="row row-grid justify-content-center mb-lg">
                <div class="col-lg-6 text-center">
                    <h6 class="text-uppercase ls-2 text-white font-weight-700">Biaya</h6>
                    <h1 class="heading h1 text-white">{{.Title}}</h1>
                </div>
            </div>
            <div class="pricing card-group flex-column flex-md-row mb-3">

                <div class="card card-pricing box-shadow-1 text-center px-3 mb-4">
                    <div class="card-header py-5">
                        <h4 class="mb-4">Desain Minimalis</h4>

                        <h1 class="display-4 text-primary text-center" data-pricing-value="50">$<span class="price">100</span></h1>
                        <span class="h6 text-muted">per month</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>5 Halaman</li>
                            <li>Layanan Email</li>
                            <li>Revisi x1</li>
                            <li>Gratis Logo + SSL</li>
                        </ul>
                        <button type="button" class="btn btn-dark mb-3">Mulai Sekarang</button>
                    </div>
                </div>



                <div class="card card-pricing zoom-in shadow-lg rounded text-center px-3 mb-4">
                    <div class="card-header py-5">
                        <h4 class="mb-4">Desain Unik</h4>

                        <h1 class="display-4 text-primary text-center" data-pricing-value="100">$<span class="price">200</span></h1>
                        <span class="h6 text-muted">per month</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>10 Halaman</li>
                            <li>Layanan Email</li>
                            <li>Revisi x2</li>
                            <li>Gratis SSL</li>
                        </ul>
                        <button type="button" class="btn btn-primary mb-3">Start free trial</button>
                    </div>
                </div>



                <div class="card card-pricing box-shadow-1 text-center px-3 mb-4">
                    <div class="card-header py-5">
                        <h4 class="mb-4">Desain Khusus</h4>

                        <h1 class="display-4 text-primary text-center" data-pricing-value="150">$<span class="price">600</span></h1>
                        <span class="h6 text-muted">per month</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>15 Halaman</li>
                            <li>Layanan Email &amp; Chat</li>
                            <li>Revisi x3</li>
                            <li>Gratis Domain &amp; SSL</li>
                        </ul>
                        <button type="button" class="btn btn-dark mb-3">Start free trial</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="slice pt-200">
        <div class="container">
            <div class="row justify-content-center mb-md">
                <div class="col-lg-8">
                    <div class="media">
                        <img alt="Image placeholder" class="rounded-circle mr-4" src="/img/team-1-800x800.jpg" style="width: 80px;">
                        <div class="media-body">
                            <p class="lead">"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras purus odio vestibulum in vulputate at tempus viverra."</p>
                            <span class="text-muted mt-4">Oka bRionZ — Web Designer at bRionZ</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blurable--hover">
                <a href="#">
                    <div class="row blurable-item">
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                            <div class="px-4 py-4">
                                <img alt="Image placeholder" src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
                            </div>

                        </div>
                    </div>
                    <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
                </a>
            </div>

        </div>
    </section>

    <section class="slice slice-lg delimiter-top">
        <div class="container">
            <div class="mb-md text-center">
                <h3 class="heading h2">Helpful answers</h3>
                <div class="fluid-paragraph mt-3">
                    <p class="lead">Start building fast, beautiful and modern looking websites in no time using our
                        theme.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div id="accordion_1" data-accordion="1">
                        <div class="card mb-3">
                            <div class="card-header bg-secondary py-4 collapsed" id="heading_1_1" data-toggle="collapse"
                                data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                                <h5 class="heading h5 font-weight-normal mb-0"><i class="far fa-file-pdf mr-3"></i>Which
                                    license do I need?</h5>
                            </div>

                            <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header bg-secondary py-4 collapsed" id="heading_1_2" data-toggle="collapse"
                                data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                                <h5 class="heading h5 font-weight-normal mb-0"><i class="fab fa-safari mr-3"></i>How do
                                    I get access to a theme I purchased?</h5>
                            </div>

                            <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header bg-secondary py-4 collapsed" id="heading_1_3" data-toggle="collapse"
                                data-target="#collapse_1_3" aria-expanded="false" aria-controls="collapse_1_3">
                                <h5 class="heading h5 font-weight-normal mb-0"><i class="far fa-credit-card mr-3"></i>How
                                    do I attach previous orders to my account</h5>
                            </div>

                            <div id="collapse_1_3" class="collapse" aria-labelledby="heading_1_3" data-parent="#accordion_1">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                        nulla assumenda shoreditch et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}