{{define "main"}}
<section class="slice slice-xl bg-dark bg-cover bg-lg-cover bg-size--cover" style="background-image: url('/img/svg/intro-left.svg'); background-position: 30% bottom;">
    <div class="container pt-lg-lg pb-lg-md ">
        <div class="row row-grid justify-content-around align-items-center">
            <div class="col-lg-5">
                <div class="text-center text-lg-left">
                    <span class="badge badge-lg badge-info badge-pill">Be stronger</span>
                    <h2 class="heading h1 text-white mt-4 mb-3">Unleash your creativity</h2>
                    <p class="lead lh-180 text-white">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                    <a href="#" class="btn btn-info btn-circle btn-translate--hover mt-4">Learn more</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="frame-laptop swiper-js-container">
                    <img alt="Image placeholder" src="../assets/img/spotlight/macbook.svg" class="img-fluid">
                    <div class="frame-inner">
                        <div class="swiper-container h-100" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="bg-img-holder bg-size--cover top-0 right-0 col-12" data-bg-size="contain">
                                        <img alt="Image placeholder" src="../assets/img/prv/img-1-800x500.jpg">
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="bg-img-holder bg-size--cover top-0 right-0 col-12" data-bg-size="contain">
                                        <img alt="Image placeholder" src="../assets/img/prv/img-2-800x500.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}